# Конфиг для нашего nginx - слушаем на порту 3000 как просили
server {
    # Слушаем на порту 3000 - стандартный 80 не подходит
    listen 3000;
    server_name _;

    # Тут будем хранить наши файлики
    root /var/www/html;
    index index.html index.htm;

    # Стандартная настройка для nginx - ничего сложного
    location / {
        try_files $uri $uri/ =404;
    }
} 